#Data Types and Structures Questions

Q1. What are data structures, and why are they important?

- Data structures are ways of organizing and storing data in a computer so it can be used efficiently. They are important because they improve performance in searching, inserting, updating, and managing data.

Q2. Explain the difference between mutable and immutable data types with examples.

- Mutable: Can be changed after creation. Example: list = [1,2,3], you can update list[0] = 10.

- Immutable: Cannot be changed once created. Example: string = "hello", you cannot do string[0] = "H".

Q3. What are the main differences between lists and tuples in Python?

- List: Mutable, slower, written with [].

- Tuple: Immutable, faster, written with ().

Q4. Describe how dictionaries store data.

- Dictionaries store data as key-value pairs, where each key maps to a value. Internally, they use hash tables for fast lookups.

Q5. Why might you use a set instead of a list in Python?

- Sets automatically remove duplicates and provide fast membership testing (in operation is quicker than in lists).

Q6. What is a string in Python, and how is it different from a list?

- A string is an immutable sequence of characters, while a list is a mutable sequence of elements that can hold different data types.

Q7. How do tuples ensure data integrity in Python?

- Tuples are immutable, so once created, their contents cannot be altered. This ensures data remains constant and secure.

Q8. What is a hash table, and how does it relate to dictionaries in Python?

- A hash table is a data structure that maps keys to values using hash functions. Python dictionaries are implemented using hash tables.

Q9. Can lists contain different data types in Python?

- Yes, lists can hold integers, strings, floats, and even other lists at the same time. Example: [1, "hello", 3.5, [2, 4]].

Q10. Explain why strings are immutable in Python.

- Strings are immutable for efficiency and security — they are widely used as keys in dictionaries and for text processing, so immutability ensures consistency.

Q11. What advantages do dictionaries offer over lists for certain tasks?

- Faster lookups with keys.

- Clearer data representation (key-value mapping).

- Useful when data is best described with unique labels instead of positions.

Q12. Describe a scenario where using a tuple would be preferable over a list.

- When storing fixed data that shouldn’t change, like coordinates (x, y) or days of the week.

Q13. How do sets handle duplicate values in Python?

- Sets automatically remove duplicates. Example: {1, 2, 2, 3} becomes {1, 2, 3}.

Q14. How does the 'in' keyword work differently for lists and dictionaries?

- For lists, in checks if a value exists among elements.

- For dictionaries, in checks if a key exists (not the value).

Q15. Can you modify the elements of a tuple? Explain why or why not.

- No, because tuples are immutable. You cannot change, add, or remove elements after creation.

Q16. What is a nested dictionary, and give an example of its use case.?

- A dictionary inside another dictionary. Example:

students = {
    "Alice": {"age": 20, "score": 90},
    "Bob": {"age": 22, "score": 85}
}


Use case → storing structured data like student details.

Q17. Describe the time complexity of accessing elements in a dictionary.

- Accessing elements by key is on average O(1) (constant time), thanks to hash tables.

Q18. In what situations are lists preferred over dictionaries?

- When order matters, when storing simple sequences, or when keys are not necessary.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

- Before Python 3.7, dictionaries were unordered (keys stored randomly in hash table). Since 3.7, insertion order is preserved, but retrieval is still based on keys, not positions.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.

- List: Retrieve by index/position. Example: list[0].

- Dictionary: Retrieve by key. Example: dict["name"].

#Practical Questions

In [1]:
#Q1. Write a code to create a string with your name and print it.
name = "Sneha"
print(name)

Sneha

In [3]:
#Q2. Write a code to find the length of the string "Hello World".
print(len("Hello World"))

11

In [4]:
#Q3. Write a code to slice the first 3 characters from the string "Python Programming".
print("Python Programming"[:3])

Pyt

In [5]:
#Q4. Write a code to convert the string "hello" to uppercase.
print("hello".upper())

HELLO

In [6]:
#Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
print("apple".replace("apple", "orange"))

orange

In [7]:
#Q6. Write a code to create a list with numbers 1 to 5 and print it.
nums = [1, 2, 3, 4, 5]
print(nums)

[1, 2, 3, 4, 5]

In [8]:
#Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [9]:
#Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [10]:
 #Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [11]:
 #Q10. Write a code to reverse the list [10, 20, 30, 40, 50]
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [12]:
#Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [13]:
#Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [14]:
#Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
print(min((10, 20, 5, 15)))

5

In [15]:
#Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [18]:
#Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [1]:
#Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

{'b', 'c', 'a'}

In [2]:
#Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [3]:
#Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [4]:
#Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
print({1, 2, 3} | {3, 4, 5})

{1, 2, 3, 4, 5}

In [5]:
#Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
print({1, 2, 3} & {2, 3, 4})

{2, 3}

In [7]:
#Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "Sneha", "age": 22, "city": "Indore"}
print(person)

{'name': 'Sneha', 'age': 22, 'city': 'Indore'}

In [8]:
#Q22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [9]:
#Q23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

In [10]:
#Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop("age")
print(person)

{'name': 'Bob', 'city': 'New York'}

In [11]:
#Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [12]:
#Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.
lst = [1, 2, 3]
tup = (4, 5, 6)
dct = {"a": 1, "b": 2}
print(lst, tup, dct)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [18]:
#Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[2, 24, 37, 70, 79]

In [13]:
#Q28. Write a code to create a list with strings and print the element at the third index.
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

In [14]:
#Q29. Write a code to combine two dictionaries into one and print the result.
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [15]:
#Q30. Write a code to convert a list of strings into a set.
lst = ["apple", "banana", "apple", "cherry"]
print(set(lst))

{'apple', 'banana', 'cherry'}